<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	 <!-- 邮件服务 -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.qq.com"/>
        <!-- 或许你可以用587端口，默认的25不适合 -->
        <property name="port" value="587"/>
        <property name="protocol" value="smtp"/>
        <property name="username" value="18682146878@qq.com"/>
        <!--  这里的是你通过短信后，获取的授权码-->
        <property name="password" value="rracyxzennnsbgga"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">  
            <props>  
                <prop key="mail.smtp.auth">true</prop> 
                <prop key="mail.smtp.timeout">250000</prop>  
            </props>  
        </property>  

    </bean>


  <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="18682146878@qq.com"/>
        <property name="subject" value="尝试发邮件"/>
    </bean>
    
    <!--邮件配置，请注意修改下面的fromAddress和fromName,systemAdminAddress，templateHtmlCategory不要修改-->
  	<bean id="mailConfig" class="cn.liaozhi.mail.service.impl.internal.MailConfigBean">
		<property name="fromAddress">
			<value>18682146878@qq.com</value>
		</property>
		<property name="systemAdminAddress">
			<value>18682146878@qq.com</value>
		</property>
		<property name="fromName">
			<value>Jalor5 - Web 2.0 and SOA Framework</value>
		</property>
		<property name="templateHtmlCategory">
			<value>MailTemplate</value>
		</property>
	</bean>
	
	<bean id="baseMailService" class="cn.liaozhi.mail.service.impl.BaseMailService">
		<property name="mailConfig" ref="mailConfig"></property>
		<property name="mailSender" ref="mailSender"></property>
	</bean>

	
</beans>